/* Global Styles */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: #1e1e1e;
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    color: white;
}

/* Login Container Styles */
.login-container {
    background-color: #333;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    text-align: center;
    width: 300px;
}

/* Heading Styles */
.login-container h1 {
    margin-bottom: 20px;
}

/* Input Styles */
.login-container input[type="text"] {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: none;
    border-radius: 5px;
}

/* Button Styles */
.login-container button {
    background-color: #00b5ad;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 5px;
    width: 100%;
    cursor: pointer;
}

/* Link Styles */
.login-container a {
    color: #00b5ad;
    text-decoration: none;
}

/* Privacy Notice Styles */
.login-container .privacy {
    font-size: 0.8em;
    margin-top: 20px;
}